WebAppTester/target
WebAppTester/nbproject/
WebAppTester/scripts/
seleniumTesterLib/target
seleniumTesterLib/nbproject/
WebAppTester/WebTester.*

# Compiled class file
*.class

# Log file
*.log

# IntelliJ
/.idea/**
*.iws
out/
*.iml
modules.xml
*.ipr

#vscode
.vscode/
.classpath
.project
.settings/
/PluginBaseProject/
/PluginBaseProject - copia/
/PluginNativeBaseProject/
/AntSM/
/dummyLib/
/dummyService1/
WebAppTester/lib/